In [2]:
import pandas as pd
import os

active_address_count = pd.read_csv('./data/raw/min_1k_count.csv')
active_address_count

       timestamp  value
0     1230940800      0
1     1231027200      0
2     1231113600      0
3     1231200000      0
4     1231286400      0
...          ...    ...
5624  1716854400   1670
5625  1716940800   1673
5626  1717027200   1679
5627  1717113600   1678
5628  1717200000   1678

[5629 rows x 2 columns]

In [9]:
active_address_count['Date'] = pd.to_datetime(active_address_count['timestamp'], unit='s')

In [11]:
active_address_count.drop(columns=['timestamp'], inplace=True)

In [14]:
active_address_count.dtypes

value             int64
Date     datetime64[ns]
dtype: object

In [17]:
active_address_count.loc[active_address_count['Date'] > pd.to_datetime('2018-07', format='%Y-%m')]

       value       Date
3467  638224 2018-07-02
3468  659182 2018-07-03
3469  609463 2018-07-04
3470  545411 2018-07-05
3471  647671 2018-07-06
...      ...        ...
5623  609338 2024-05-27
5624  654339 2024-05-28
5625  559056 2024-05-29
5626  646890 2024-05-30
5627  692693 2024-05-31

[2161 rows x 2 columns]

In [18]:
active_address_count.rename(columns={'value': 'Active Address Count'}, inplace=True)

In [19]:
active_address_count.to_csv('./active_address_count.csv', index=False)

In [9]:
df = pd.read_csv('./data/raw/realized_volatility_all.csv')
def change_timestamp_to_date(df):
    df['Date'] = pd.to_datetime(df['timestamp'], unit='s')
    df.drop(columns=['timestamp'], inplace=True)
    df = df.loc[df['Date'] > pd.to_datetime('2018-07', format='%Y-%m')]
    columns = df.columns.tolist()
    columns.remove('Date')
    new_columns = {column: column + '_rv' for column in columns}
    df.rename(columns=new_columns, inplace=True)
    df.to_csv('./realized_volatility.csv', index=False)
    
    
change_timestamp_to_date(df)

/var/folders/b_/qwmzdmrs7pn2vtv9spvyjnc00000gn/T/ipykernel_6949/406247883.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns=new_columns, inplace=True)