In [3]:
import pandas as pd
import os

active_address_count = pd.read_csv('active_count.csv')
active_address_count

       timestamp   value
0     1230940800       0
1     1231027200       0
2     1231113600       0
3     1231200000       0
4     1231286400       0
...          ...     ...
5623  1716768000  609338
5624  1716854400  654339
5625  1716940800  559056
5626  1717027200  646890
5627  1717113600  692693

[5628 rows x 2 columns]

In [9]:
active_address_count['Date'] = pd.to_datetime(active_address_count['timestamp'], unit='s')

In [11]:
active_address_count.drop(columns=['timestamp'], inplace=True)

In [14]:
active_address_count.dtypes

value             int64
Date     datetime64[ns]
dtype: object

In [17]:
active_address_count.loc[active_address_count['Date'] > pd.to_datetime('2018-07', format='%Y-%m')]

       value       Date
3467  638224 2018-07-02
3468  659182 2018-07-03
3469  609463 2018-07-04
3470  545411 2018-07-05
3471  647671 2018-07-06
...      ...        ...
5623  609338 2024-05-27
5624  654339 2024-05-28
5625  559056 2024-05-29
5626  646890 2024-05-30
5627  692693 2024-05-31

[2161 rows x 2 columns]

In [18]:
active_address_count.rename(columns={'value': 'Active Address Count'}, inplace=True)

In [19]:
active_address_count.to_csv('./active_address_count.csv', index=False)