In [2]:
import pandas as pd
import numpy as np

In [4]:
data_2018_2020 = pd.read_excel('2018-2020.xlsx')
data_2020_2022 = pd.read_excel('2020-2022.xlsx')
data_2022_2024 = pd.read_excel('2022-2024.xlsx')

/opt/homebrew/Caskroom/miniconda/base/envs/ie471/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/ie471/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
/opt/homebrew/Caskroom/miniconda/base/envs/ie471/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [5]:
data_2018_2020

,번호,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,1,2020/05/27,218410,RFHIC,KOSDAQ,직접,취득,2020/05/28,2020/11/27,132275,5000000000,132275,100.0,4636499650
1,2,2020/05/26,25900,동화기업,KOSDAQ,직접,처분,2020/05/27,2020/05/27,250000,6400000000,250000,100.0,6080000000
2,3,2020/05/25,253590,네오셈,KOSDAQ,신탁,취득,2020/05/25,2020/11/24,0,2000000000,571366,0.0,1283324315
3,4,2020/05/25,79370,제우스,KOSDAQ,신탁,취득,2020/05/26,2021/05/25,0,2000000000,148412,0.0,1870236200
4,5,2020/05/20,25900,동화기업,KOSDAQ,직접,처분,2020/05/21,2020/05/21,500000,13200000000,500000,100.0,12540000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192,1193,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2020/05/31,0,1000000000,16800,0.0,38690580
1193,1194,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2019/05/31,0,1000000000,51500,0.0,155690930
1194,1195,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2021/05/31,0,1000000000,45200,0.0,199984125
1195,1196,2018/05/31,182690,테라셈,KOSDAQ,직접,처분,2018/06/01,2018/07/31,470309,832446930,470309,100.0,934335885
1196,1197,2018/05/30,3000,부광약품,KOSPI,직접,처분,2018/05/31,2018/05/31,1510786,42851934104,1510786,100.0,42851934104

In [14]:
data_2020_2022

,번호,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,1,2022/05/27,003550,LG,KOSPI,신탁,취득,2022/05/30,2024/12/31,0,500000000000,5590677.0,0.0,4.620222e+11
1,2,2022/05/27,003670,포스코퓨처엠,KOSPI,직접,취득,2022/05/30,2022/08/29,75187,9999871000,75187.0,100.0,9.645326e+09
2,3,2022/05/26,375500,DL이앤씨,KOSPI,신탁,취득,2022/05/26,2022/11/25,0,29000000000,647077.0,0.0,2.687100e+10
3,4,2022/05/26,37550L,DL이앤씨2우(전환),KOSPI,신탁,취득,2022/05/26,2022/11/25,0,29000000000,32299.0,0.0,1.076557e+09
4,5,2022/05/26,37550L,DL이앤씨2우(전환),KOSPI,신탁,취득,,,0,0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
786,787,2020/06/11,227840,현대코퍼레이션홀딩스,KOSPI,신탁,취득,2020/06/12,2020/12/11,0,3000000000,290000.0,0.0,2.985962e+09
787,788,2020/06/10,251370,와이엠티,KOSDAQ,직접,처분,2020/06/11,2020/06/11,80570,2167333000,80570.0,100.0,2.167333e+09
788,789,2020/06/05,006800,미래에셋증권,KOSPI,직접,취득,2020/06/08,2020/09/07,16000000,108600000000,16000000.0,100.0,1.108164e+11
789,790,2020/06/01,302920,더콘텐츠온,KONEX,신탁,취득,2020/06/01,2020/11/30,0,100000000,1188.0,0.0,1.241460e+07
790,791,2020/05/29,003410,쌍용C&E,KOSPI,신탁,취득,2020/06/01,2020/12/01,0,30000000000,3014405.0,0.0,1.568692e+10

In [15]:
data_2022_2024

,번호,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,1,2024/05/27,159010,아스플로,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0,0.0,0
1,2,2024/05/24,405100,큐알티,KOSDAQ,신탁,취득,2024/05/24,2024/11/24,0,5000000000,0,0.0,0
2,3,2024/05/24,200670,휴메딕스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,3000000000,0,0.0,0
3,4,2024/05/24,243070,휴온스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0,0.0,0
4,5,2024/05/24,084110,휴온스글로벌,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
973,974,2022/06/07,086900,메디톡스,KOSDAQ,직접,취득,2022/06/08,2022/09/05,39777,4999968900,39777,100.0,4574169500
974,975,2022/06/03,039440,에스티아이,KOSDAQ,신탁,취득,2022/06/03,2022/12/02,0,3000000000,159600,0.0,2984925950
975,976,2022/06/02,307870,비투엔,KOSDAQ,신탁,취득,2022/06/02,2022/12/02,0,2000000000,713194,0.0,1448972590
976,977,2022/05/31,236810,엔비티,KOSDAQ,신탁,취득,2022/06/02,2022/12/01,0,3500000000,430273,0.0,3492828520
977,978,2022/05/30,017650,대림제지,KOSDAQ,직접,취득,2022/05/31,2022/08/30,100000,959000000,100000,100.0,855555160

In [8]:
print(data_2018_2020.shape)
print(data_2020_2022.shape)
print(data_2022_2024.shape)

(1197, 14)
(791, 14)
(978, 14)

In [9]:
full_data = pd.concat([data_2018_2020, data_2020_2022, data_2022_2024], ignore_index=True)

In [18]:
full_data.columns

Index(['번호', '공시일', '종목코드', '종목명', '시장구분', '직접/신탁', '취득/처분', '취득(처분)예정기간_시작일',
       '취득(처분)예정기간_종료일', '신고내역_수량', '신고내역_금액', '체결내역(누계)_수량',
       '체결내역(누계)_체결수량비율', '체결내역(누계)_금액'],
      dtype='object')

In [26]:
full_data = full_data.sort_values(by='공시일', ascending=True).reset_index()
full_data

,level_0,index,번호,공시일,종목코드,종목명,시장구분,직접/신탁,취득/처분,취득(처분)예정기간_시작일,취득(처분)예정기간_종료일,신고내역_수량,신고내역_금액,체결내역(누계)_수량,체결내역(누계)_체결수량비율,체결내역(누계)_금액
0,0,1196,1197,2018/05/30,3000,부광약품,KOSPI,직접,처분,2018/05/31,2018/05/31,1510786,42851934104,1510786.0,100.0,4.285193e+10
1,1,1195,1196,2018/05/31,182690,테라셈,KOSDAQ,직접,처분,2018/06/01,2018/07/31,470309,832446930,470309.0,100.0,9.343359e+08
2,2,1190,1191,2018/06/01,232140,와이씨,KOSDAQ,신탁,취득,2018/06/01,2019/05/31,0,2000000000,437256.0,0.0,1.993199e+09
3,3,1194,1195,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2021/05/31,0,1000000000,45200.0,0.0,1.999841e+08
4,4,1192,1193,2018/06/01,170030,현대공업,KOSDAQ,신탁,취득,2018/06/01,2020/05/31,0,1000000000,16800.0,0.0,3.869058e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2961,2963,1990,3,2024/05/24,200670,휴메딕스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,3000000000,0.0,0.0,0.000000e+00
2962,2964,1989,2,2024/05/24,405100,큐알티,KOSDAQ,신탁,취득,2024/05/24,2024/11/24,0,5000000000,0.0,0.0,0.000000e+00
2963,2961,1992,5,2024/05/24,084110,휴온스글로벌,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0.0,0.0,0.000000e+00
2964,2962,1991,4,2024/05/24,243070,휴온스,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0.0,0.0,0.000000e+00
2965,2965,1988,1,2024/05/27,159010,아스플로,KOSDAQ,신탁,취득,2024/05/27,2024/11/26,0,2000000000,0.0,0.0,0.000000e+00

In [27]:
company_list = full_data['종목명'].unique()
print(len(company_list))

1105

In [ ]:
import requests
import pandas as pd
from datetime import datetime

# API key and base URL
API_KEY = 'fe0822a03c94eb4e6df4b4685a08824546fa1ceee2ba8f67cc3a8a929e12552f'
BASE_URL_BTC_PRICE = "https://opendart.fss.or.kr/api/fnlttMultiAcnt.json"
BASE_URL_EXCHANGE = "https://min-api.cryptocompare.com/data/exchange/histoday"
BASE_URL_BTC_EXCHANGE = "https://min-api.cryptocompare.com/data/symbol/histoday"

In [ ]:
def get_data(url, params):
    response = requests.get(url, params=params)
    data = response.json()
    print(data)
    if 'Data' in data and 'Data' in data['Data']:
        return pd.DataFrame(data['Data']['Data'])
    elif 'Data' in data:
        return pd.DataFrame(data['Data'])
    else:
        print("Error fetching data")
        return None